.*
node_modules
samples/http/db/*
samples/http/logs/*
samples/http/tmp/*
samples/redis/dump.rdb
!.gitignore
samples/cloud9/cloud9.err.log
samples/cloud9/cloud9.out.log
samples/cloud9/cloud9.pid
samples/redis/redis.err.log
samples/redis/redis.out.log
samples/coffee/coffee.err.log
samples/coffee/coffee.out.log
